flows.json
[{"id":"1ab2d046.b807c","type":"tab","label":"Smart Agriculture System","disabled":false,"info":""},{"id":"ffe3f445.18b148","type":"ibmiot in","z":"1ab2d046.b807c","authentication":"apiKey","apiKey":"f7f7ba8.c35e8c8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Arduino","applicationId":"","deviceType":"IOTDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT input","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":300,"wires":[["b6706682.a26ad","f2da1ea.52aa9e","3855ec72.b69f94"]]},{"id":"31ecb490.0d2114","type":"debug","z":"1ab2d046.b807c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":280,"wires":[]},{"id":"b6706682.a26ad","type":"function","z":"1ab2d046.b807c","name":"Temperature","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["31ecb490.0d2114","2fd7c386.6397ec"]]},{"id":"f2da1ea.52aa9e","type":"function","z":"1ab2d046.b807c","name":"Humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":300,"wires":[["31ecb490.0d2114","64221dcc.49139c"]]},{"id":"3855ec72.b69f94","type":"function","z":"1ab2d046.b807c","name":"Soil Moisture","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["31ecb490.0d2114","56870d48.b6656c"]]},{"id":"ad0fa39c.a8e1c8","type":"http request","z":"1ab2d046.b807c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Pune, IN&appid=014ebfd3cac98ea1240b4fa981d40b04","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":20,"wires":[["9111f393.d74568","9eac6eb4.e1b478","175d396a.f95c07","39c79fc2.c4a1c8"]]},{"id":"9111f393.d74568","type":"debug","z":"1ab2d046.b807c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":20,"wires":[]},{"id":"1d7bac78.77fe74","type":"ui_template","z":"1ab2d046.b807c","group":"33c36343.46254c","name":"IoT info look","order":3,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Agro-App</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n   <style>\n \nsection{\n  \n  background-image:    url('https://www.safwallpapers.com/files/1520833140_557932.jpg');\n}\n\n \t</style>\n</head>\n<body>\n  <section>\n    \n  </section>\n    \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":200,"wires":[[]]},{"id":"9824c065.09995","type":"ui_template","z":"1ab2d046.b807c","group":"e061e47b.7061c","name":"Motor data look","order":4,"width":0,"height":0,"format":"\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Agro-App</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n \n  <style>\n \nsection{\n  background-image:    url('https://images.unsplash.com/photo-1511497584788-876760111969?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max');\n}\n\nbutton{\n    background: url('https://cdn.dribbble.com/users/3152125/screenshots/10763828/tractor-animation-dribbble-size.gif');\n\n     width:305px;\n        height: 230px;\n        background-size:contain;\n       \n        background-repeat:no-repeat;\n}\n \n\t</style>\n</head>\n<body>\n    <button type=\"submit\" ng-click=\"send({payload:3})\" ></button>\n          \n      \n      <section>\n  </section>\n    \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":140,"wires":[["dd807a0d.16ab8"]]},{"id":"641737da.2b1a58","type":"ui_template","z":"1ab2d046.b807c","group":"eaa6812a.c1e77","name":"Simulator data look","order":5,"width":0,"height":0,"format":"<style>\n    .watson{\n        background-image: url('https://i.pinimg.com/originals/e4/d3/95/e4d395849317f98f2a418c0e10182b0d.gif');\n        width:305px;\n        height: 230px;\n        background-size:contain;\n       \n        background-repeat:no-repeat;\n    }\n</style>\n<button class=\"watson\" type=\"submit\" ng-click=\"send({payload:2})\" ></button>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":110,"y":100,"wires":[["dd807a0d.16ab8"]]},{"id":"45f131d3.51e9a","type":"ui_template","z":"1ab2d046.b807c","group":"600d20c2.45ff98","name":"API Look","order":6,"width":0,"height":0,"format":"<style>\n    .api{\n        background-image: url('https://i.pinimg.com/originals/2e/63/02/2e6302f69d7470c0592115c6b5b2a708.gif');\n        width:305px;\n        height: 230px;\n        background-size:contain;\n       \n        background-repeat:no-repeat;\n    }\n</style>\n<button class=\"api\" type=\"submit\" ng-click=\"send({payload:4})\" ></button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":80,"y":60,"wires":[["dd807a0d.16ab8"]]},{"id":"477b89e1.3854f8","type":"ui_template","z":"1ab2d046.b807c","group":"dd3bacae.b76fa","name":"First page look","order":7,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Agro-App</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n \n  <style>\n \nsection{\n  \n  background-image:    url('https://s3.amazonaws.com/revue/items/images/005/182/345/original/090027e7ec54c1564b0cf372a4e6c3fb.gif?1572949047'),url('https://i.pinimg.com/originals/b6/b5/34/b6b534847c56aafc673bdc8f475d8a88.jpg'),url('https://i.pinimg.com/originals/b6/b5/34/b6b534847c56aafc673bdc8f475d8a88.jpg');\n background-repeat: no-repeat;\n background-position:center,left,right;\n\n  \n}\n\t\n\tbutton{background-color: rgb(75, 121, 48)\t;\n    color: white;\n    font-size: x-large;\n    font-weight: bold;\n    height: 40px;\n    width:200px;\n    border: none;\n   \n\t    \n\t}\n\t</style>\n</head>\n<body>\n  <section>\n      <button type=\"submit\" ng-click=\"send({payload:1})\" >WELCOME!</button>\n  </section>\n    \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":20,"wires":[["dd807a0d.16ab8"]]},{"id":"dd807a0d.16ab8","type":"ui_ui_control","z":"1ab2d046.b807c","name":"go to","events":"all","x":470,"y":20,"wires":[["ad0fa39c.a8e1c8"]]},{"id":"d0a9f240.439548","type":"ui_button","z":"1ab2d046.b807c","name":"","group":"b61bac23.97706","order":8,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":450,"y":100,"wires":[["dd807a0d.16ab8"]]},{"id":"abc571e9.797fe","type":"ui_button","z":"1ab2d046.b807c","name":"","group":"9157e1ba.64a018","order":8,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":290,"y":140,"wires":[["dd807a0d.16ab8"]]},{"id":"262f0524.c691d2","type":"ui_button","z":"1ab2d046.b807c","name":"","group":"600d20c2.45ff98","order":8,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":450,"y":140,"wires":[["dd807a0d.16ab8"]]},{"id":"5cb254e4.729a0c","type":"ui_button","z":"1ab2d046.b807c","name":"","group":"97e163b7.dfc3e","order":8,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":290,"y":100,"wires":[["dd807a0d.16ab8"]]},{"id":"45eb7b99.66640c","type":"ibmiot out","z":"1ab2d046.b807c","authentication":"apiKey","apiKey":"f7f7ba8.c35e8c8","outputType":"cmd","deviceId":"Output","deviceType":"IOTDevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":640,"y":500,"wires":[]},{"id":"e8e84c7.612e0b","type":"ui_template","z":"1ab2d046.b807c","group":"b61bac23.97706","name":"Motor status look","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Agro-App</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n \n  <style>\n \nsection{\n  \n  background-image: url('https://osnatfineart.com/paintings/images/9195-modern-abstract-painting.jpg');\n   \n \n  \n   \n}\n \n\t</style>\n</head>\n<body>\n     \n   \n  <section>\n      \n  </section>\n    \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":460,"wires":[[]]},{"id":"ae9b4d96.5c85f8","type":"ui_template","z":"1ab2d046.b807c","group":"b61bac23.97706","name":"Motor look","order":2,"width":0,"height":0,"format":"<style>\n    img{\n        background-image: url('https://cdn.dribbble.com/users/511174/screenshots/1878191/tractor_01.gif');\n    }\n</style>\n<img ng-src='https://cdn.dribbble.com/users/511174/screenshots/1878191/tractor_01.gif' alt='img'>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":110,"y":500,"wires":[[]]},{"id":"499034d1.da5d04","type":"ui_template","z":"1ab2d046.b807c","group":"6cd61494.b9c7bc","name":"API info look","order":3,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Agro-App</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" integrity=\"sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk\" crossorigin=\"anonymous\">\n \n  <style>\n \nsection{\n  \n  background-image:    url('https://i.pinimg.com/originals/29/3b/da/293bda4272799016482decf90a28d465.jpg');\n \n \n  \n   \n}\n \n\t</style>\n</head>\n<body>\n  <section>\n      \n  </section>\n    \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":240,"wires":[[]]},{"id":"9eac6eb4.e1b478","type":"ui_gauge","z":"1ab2d046.b807c","name":"","group":"6cd61494.b9c7bc","order":4,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"K","format":"{{msg.payload.main.temp}} ","min":0,"max":"1000","colors":["#ff8080","#ff8080","#ff8080"],"seg1":"","seg2":"","x":810,"y":120,"wires":[]},{"id":"175d396a.f95c07","type":"ui_gauge","z":"1ab2d046.b807c","name":"Pressure","group":"bb3901ce.f28e","order":5,"width":0,"height":0,"gtype":"donut","title":"Pressure","label":"hba","format":"{{msg.payload.main.pressure}} ","min":0,"max":"2000","colors":["#8080ff","#8080ff","#8080ff"],"seg1":"","seg2":"","x":760,"y":160,"wires":[]},{"id":"39c79fc2.c4a1c8","type":"ui_gauge","z":"1ab2d046.b807c","name":"","group":"97e163b7.dfc3e","order":6,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"%","format":"{{msg.payload.main.humidity}}","min":0,"max":"100","colors":["#80ffff","#80ffff","#80ffff"],"seg1":"","seg2":"","x":820,"y":80,"wires":[]},{"id":"2fd7c386.6397ec","type":"ui_gauge","z":"1ab2d046.b807c","name":"","group":"fc11f2ba.a4c278","order":7,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"˚C","format":"{{value}}","min":0,"max":"100","colors":["#ff0080","#ff0080","#ff0080"],"seg1":"","seg2":"","x":710,"y":240,"wires":[]},{"id":"64221dcc.49139c","type":"ui_gauge","z":"1ab2d046.b807c","name":"","group":"9157e1ba.64a018","order":8,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ff8040","#ff8040","#ff8040"],"seg1":"","seg2":"","x":700,"y":320,"wires":[]},{"id":"56870d48.b6656c","type":"ui_gauge","z":"1ab2d046.b807c","name":"","group":"61793452.87b6b4","order":9,"width":0,"height":0,"gtype":"gage","title":"Moisture","label":"˚C","format":"{{value}}","min":0,"max":"100","colors":["#80ffff","#80ffff","#80ffff"],"seg1":"","seg2":"","x":700,"y":360,"wires":[]},{"id":"c910f8aa.05fbd","type":"ui_toast","z":"1ab2d046.b807c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":true,"topic":"Motor is ON","name":"Motor ON status","x":640,"y":420,"wires":[[]]},{"id":"dc27fd3e.e9f598","type":"ui_button","z":"1ab2d046.b807c","name":"","group":"b61bac23.97706","order":4,"width":0,"height":0,"passthru":true,"label":"Motor On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":280,"y":420,"wires":[["31ecb490.0d2114","45eb7b99.66640c","c910f8aa.05fbd"]]},{"id":"a076e641.092e8","type":"ui_button","z":"1ab2d046.b807c","name":"","group":"b61bac23.97706","order":5,"width":0,"height":0,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":300,"y":500,"wires":[["31ecb490.0d2114","45eb7b99.66640c","d714c93c.7c5a58"]]},{"id":"d714c93c.7c5a58","type":"ui_toast","z":"1ab2d046.b807c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":true,"topic":"Motor is OFF","name":"Motor OFF status","x":650,"y":460,"wires":[[]]},{"id":"f7f7ba8.c35e8c8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"33c36343.46254c","type":"ui_group","z":"","name":"Temperature","tab":"adb7869c.fcf2a","order":1,"disp":false,"width":7,"collapse":false},{"id":"e061e47b.7061c","type":"ui_group","z":"","name":"MOTOR CONTROLS","tab":"c7ff9aad.f653d","order":3,"disp":true,"width":"6","collapse":false},{"id":"eaa6812a.c1e77","type":"ui_group","z":"","name":"SIMULATOR DATA","tab":"c7ff9aad.f653d","order":2,"disp":true,"width":"6","collapse":false},{"id":"600d20c2.45ff98","type":"ui_group","z":"","name":"API DATA","tab":"c7ff9aad.f653d","order":4,"disp":true,"width":"6","collapse":false},{"id":"dd3bacae.b76fa","type":"ui_group","z":"","name":"","tab":"e90919db.c1549","order":10,"disp":false,"width":"4","collapse":false},{"id":"b61bac23.97706","type":"ui_group","z":"","name":"Motor Controls","tab":"acd39d26.90449","order":1,"disp":true,"width":6,"collapse":false},{"id":"9157e1ba.64a018","type":"ui_group","z":"","name":"Humidity","tab":"adb7869c.fcf2a","order":2,"disp":false,"width":"7","collapse":false},{"id":"97e163b7.dfc3e","type":"ui_group","z":"","name":"Humidity","tab":"aa2de51f.da6908","order":3,"disp":false,"width":7,"collapse":false},{"id":"6cd61494.b9c7bc","type":"ui_group","z":"","name":"Temperature","tab":"aa2de51f.da6908","order":1,"disp":false,"width":"7","collapse":false},{"id":"bb3901ce.f28e","type":"ui_group","z":"","name":"Pressure","tab":"aa2de51f.da6908","order":2,"disp":false,"width":6,"collapse":false},{"id":"fc11f2ba.a4c278","type":"ui_group","z":"","name":"Temperature","tab":"adb7869c.fcf2a","order":1,"disp":false,"width":"7","collapse":false},{"id":"61793452.87b6b4","type":"ui_group","z":"","name":"Soil Moisture","tab":"adb7869c.fcf2a","order":3,"disp":false,"width":7,"collapse":false},{"id":"adb7869c.fcf2a","type":"ui_tab","z":"","name":"Watson-IOT","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"c7ff9aad.f653d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e90919db.c1549","type":"ui_tab","z":"","name":"Smart Agriculture System","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"acd39d26.90449","type":"ui_tab","z":"","name":"CONTROLS","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"aa2de51f.da6908","type":"ui_tab","z":"","name":"API-data","icon":"dashboard","order":5,"disabled":false,"hidden":false}]